.recipe {
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 10vh;
    border: 1px solid black;
    background-color: white;
    border-radius: 5px;
    margin: 10px;
    width: 330px;
    padding: 10px;
}


.image  {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

ul  {
    list-style-type: none;
}

.calories   {
    font-weight: bolder;
    line-height: 30px;
}