.form    {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 10vh;
}

.bar   {
    width: 70%;
    border: none;
    padding: 10px;
    margin: 1rem 0 1rem 0;
    font-size: 1rem;
    font-weight: bolder;
}

.bar:focus {
    outline: none;
}

.card   {
    display: grid;
    grid-template-columns: repeat(3, auto);
}

@media screen and (max-width: 375px) {
    .card   {
        display: grid important;
        grid-template-columns: repeat(1, auto) !important;
    }
    
}

@media screen and (max-width: 425px) {
    .card   {
        display: grid important;
        grid-template-columns: repeat(1, auto) !important;
    }
    
}
@media screen and (max-width: 768px) {
    .card   {
        display: grid;
        grid-template-columns: repeat(2, auto);
    }
    
}
@media screen and (max-width: 1024px) {
    .card   {
        display: grid;
        grid-template-columns: repeat(2, auto);
    }
    
}